body {
	
	font-family: 'Sintony', sans-serif;
	color: white;
	background-color: #C2D6D6;
	margin:0px auto;
	padding: 0;


}

.border {
	height: 70px;
	width: 100%;
	background-color: #194775;
	position: fixed;
	z-index: 10;
	
	li{
		width: 100px;
		color:#C2D6D6;
		display: inline-block;
		font-weight: bold;
		margin-top: 30px;
		margin-left: 150px;
		cursor: pointer;
		font-size: 20px;


		
	}
}



.header {
	background-image: url("https://scontent-a-atl.xx.fbcdn.net/hphotos-xap1/t31.0-8/135464_1806875934205_2941125_o.jpg");
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	position: relative;
 	margin: 0px;
 	padding-top:70px;
 	text-align: center;
 	height: 600px;
 	max-width: 100%;
 	opacity: 0.7;	
 		-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	z-index: 1;



	h1 {
		font-size: 60px;
		color: #194775;
		font-family: 'Pompiere', cursive;
		
	}

	h2 {
		font-size: 20px;
		
	}

	h3 {
		font-size: 20px;
	}
}

.header:hover {
	width: 100%;
	background-image: url("https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/135464_1806876014207_7409808_o.jpg");
	filter:alpha(opacity=100);
	 	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;

}


.container {
	background-color: #F3F3F3;
	height: 400px;
	max-width: 100%;
	color: black;
	opacity: none;
	margin: 0px;	

	img{
		border-radius: 50%;
		margin-left: 300px;
		border: 6px solid #C2D6D6;
	}


}	 	

.column-one {
	height: 50px;
	width: 150px;
   	border-bottom: 4px solid #194775;
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    margin-left: 600px;

}
	p {
		display: block;
		font-weight: bold;
		font-size: 16px;
		margin-top: 10px;
		margin-left: 500px;
		line-height: 25px;
		width: 500px;
		height: 45px;
		


	}

.project-container {
	background-color: white;
	color: black;
	height: 1100px;
	width: 100%;
	font-size: 30px;
	padding-top: 10px;
	
	h4{
		border-bottom: 4px solid #C2D6D6;
		height: 50px;
		width: 150px;
		text-align: center;
		margin-left: 600px;

	}

	img {
		margin-left: 15px;
		margin-top: 10px;

	}

	img:hover{
		opacity: 0.8;

	}
}

.project {
	display: inline-block;
	background-color: #F3F3F3;
	height: 350px;
	width: 330px;
	margin-left:100px;
	margin-top: 50px;

	button{
		margin-left: 15px;
		font-size: 15px;
		width: 300px;
		height: 100px;
		background-color: #C2D6D6;
		border:white;

	}

		a{
			color: white;
			text-decoration: none;

		}
	}


button:hover{
		background-color:#194775;
		color: white;

	}



.work-container{
	height: 200px;
	width: 100%;
	background-color: #C2D6D6;
	padding-top: 0px;

	p{
	
		margin-left: 200px;
		display: block;
		color: black;
		font-size: 20px;
		text-align: center;

	}

 	button{
 		width: 900px;
 		height: 150px;
 		background-color:#4775A3;
 		border: 5px solid #C2D6D6;
 		color: white;
 		margin-top: 0px;
 		display:block;
 		margin-right: 0px;
 		cursor: pointer;


 	}

button:hover{
		background-color:#194775;
		border: 3px solid #C2D6D6;
		color: white;
	}
}


#modal {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:relative;
	top:-50%;
	visibility: visible;
	width:0%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;

}

#modal:target {
		opacity: 1;
		top:50%;
		visibility: visible;
		
	}

#modal h7 {
	text-align:center;
	color: black;
	font-size: 20px;

}
#modal .btn {
	text-decoration: none;
	color: White;
	background-color:#194775;
	height:50px;
	border-radius:20%;
	padding-top:10px;
	float: right;
}
#modal .copy,#modal .work-container, #modal .test {
	padding:20px;
	font-size: 20px;
	color: black;
}
.modal-content {
	background-color:#F3F3F3;
	border: 10px solid #194775;
	border-radius:25px;
	position:relative;
	z-index: 20;
	height: 300px;
	width: 300px;
}



#modal-two {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:relative;
	top:-50%;
	visibility: visible;
	width:0%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;

}
	/* Make the modal appear when targeted */
	#modal-two:target {
		opacity: 1;
		top:50%;
		visibility: visible;
	}

#modal-two h7 {
	text-align:center;
	color: black;
	font-size: 20px;

}
#modal-two .btn {
	float:right;
	text-decoration: none;
	color: White;
	background-color:#194775;
	height:50px;
	border-radius:20%;
	padding-top:10px;
}
#modal-two .copy,#modal-two .work-two-container, #modal-two .test-two {
	padding:20px;
	font-size: 20px;
	color: black;
}
.modal-two-content {
	background-color:#F3F3F3;
	border: 10px solid #194775;
	border-radius:25px;
	position:relative;
	z-index: 20;
	height: 300px;
	width: 300px;
}



#modal-three {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:relative;
	top:-50%;
	visibility: hidden;
	width:0%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;

}
	/* Make the modal appear when targeted */
	#modal-three:target {
		opacity: 1;
		top:50%;
		visibility: visible;
	}

#modal-three h7 {
	text-align:center;
	color: black;
	font-size: 20px;

}
#modal-three .btn {
	float:right;
	text-decoration: none;
	color: White;
	background-color:#194775;
	height:50px;
	border-radius:20%;
	padding-top:10px;
}
#modal-three .copy,#modal-three .work-three-container, #modal-three .test-three {
	padding:20px;
	font-size: 20px;
	color: black;
}
.modal-three-content {
	background-color:#F3F3F3;
	border: 10px solid #194775;
	border-radius:25px;
	position:relative;
	z-index: 20;
	height: 300px;
	width: 300px;
}




#modal-four {
	left:50%;
	margin:-250px 0 0 -40%;
	opacity: 0;
	position:relative;
	top:-50%;
	visibility: hidden;
	width:0%;
	box-shadow:0 3px 7px rgba(0,0,0,.25);
	box-sizing:border-box;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;

}
	/* Make the modal appear when targeted */
	#modal-four:target {
		opacity: 1;
		top:50%;
		visibility: visible;
	}

#modal-four h7 {
	text-align:center;
	color: black;
	font-size: 20px;

}
#modal-four .btn {
	float:right;
	text-decoration: none;
	color: White;
	background-color:#194775;
	height:50px;
	border-radius:20%;
	padding-top:10px;
}
#modal-four .copy,#modal-four .work-four-container, #modal-four .test-four {
	padding:20px;
	font-size: 20px;
	color: black;
}
.modal-four-content {
	background-color:#F3F3F3;
	border: 10px solid #194775;
	border-radius:25px;
	position:relative;
	z-index: 20;
	height: 300px;
	width: 300px;
}






.footer {
	display: block;
	background-color: #194775;
	width: 100%;
	height: 400px;


	
	img{
		display: inline-block;
		margin-top: 10px;
		padding-left:10px;
		margin-bottom: 0px;
		margin-left: 10px;
		color: white;
		
	}
		img:hover {
		opacity: 0.3;

	}			


}	

h5 {
		display: block;
		text-align: center;
		font-size: 30px; 
		margin-top: 0px;
		padding-top: 50px;
		overflow: hidden;
		margin-bottom: 0px;
	
	}



	
.social {
	display: block;
	margin-left:500px;
	margin-bottom:100px;
}
	
.copyright {
	border-top: 2px solid #C2D6D6;
	color: black;
	


	p{
		margin-top: 0px;
		display: inline-block;
		padding-top: 50px;
		font-size: 12px;
		margin-left: 20px;
	}
}


	/* Make the modal appear when targeted */
