


body {
	
	font-family: sans-serif;
	color: white;
	margin:0;
	padding: 0;
	max-width: 100%;
}


.border {
	height: 8%;
	background-color: #222222;
	position: fixed;
	z-index: 10;
	width:100%;

	li {
	display:inline-block;
	margin-right: 0.063em;
	padding-left: 6.250em;
	padding-top: 0.625em;
	cursor: pointer;
	font-size: 1.250em;
	color: #BDB76B;
	background-color: #222222;

}

	@media only screen and (max-width : 900px){
		li {
		height: 0.250em;
		max-width: 100%;
		font-size: 0.750em;
		padding: 0.838em;
		}
	}
}


.header {
	position: relative;
 	margin: 0px;
 	padding-top:4.375em;
 	text-align: center;
 	height: 37.500em;
 	max-width: 100%;
 	z-index: 1;
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	-webkit-animation: fadeIn 1s ease;
 	position: relative;
 	background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)),url("https://scontent-a-atl.xx.fbcdn.net/hphotos-xap1/t31.0-8/135464_1806875934205_2941125_o.jpg") top center no-repeat fixed;
	
	h1 {
		padding-top:30px;
		font-size: 3.750em;
		color: #222222;
		font-family: sans-serif;
	}
		@media screen and (max-width: 660px){
			h1 {
				font-size: 2.750em;
	}
	
}

	h2 {
		font-size: 1.250em;
	}

	h3 {
		font-size: 1.250em;

		a{
			color: white;
			text-decoration: none;
		}
	}
}



.container {
	background: url("http://www.narrowdesign.com/img/bg.jpg")top center no-repeat fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;
 	position: relative;
	height: 80%;
	max-width: 100%;
	color: black;
	font-size: 1.250em;
	text-align: center;
	padding-left: 3.125em;
	padding-right: 3.125em;

	a{
		color: black;
		text-decoration: none;
	}

	img{
		margin-top:10px;
		border-radius: 50%;
		border: 0.375em solid #BDB76B;
	}
}

.project-container {
	background:#F5F5F5;
	color: black;
	height: 90%;
	width: 100%;
	font-size: 1.875em;
	padding-bottom: 1.625em;
	padding-top:0.625em;
	display: inline-block;
	text-align: center;
	

	img {
		/*margin-left: 0.538em;*/
		margin-top: 0.625em;
		
	}

.project {
	display: inline-block;
	background:url("http://www.narrowdesign.com/img/bg.jpg");
	height: 10.875em;
	width: 11.125em;
	margin-top: 3.125em;
	margin-left: 0.125em;
	/*padding-right: 0.350em;*/
	

	button{
		float:left;
		margin-left: 2.125em;
		font-size: 0.638em;
		/*width: 5.725em;
		height: 2.250em;*/
		background-color: #BDB76B;
		border: white;
		color: white;
		cursor: pointer;
		/*border-radius:10px;*/
		
	}

		a{
			color: white;
			text-decoration: none;

		}
	
	button:hover{
				background-color: #8FBC8F;
				color: white;
		
		}
	}
}


.experience-container{
	display: inline-block;
	/*background:linear-gradient( rgba(127, 249, 143, 0.4),
 	rgba(127, 249, 143, 0.4),
 	rgba(127, 249, 143, 0.4)),url("https://scontent-a-atl.xx.fbcdn.net/hphotos-xap1/t31.0-8/135464_1806875934205_2941125_o.jpg") top center no-repeat fixed;*/
	color: white;
	background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)),url("https://scontent-a-atl.xx.fbcdn.net/hphotos-xap1/t31.0-8/135464_1806875934205_2941125_o.jpg") top center no-repeat fixed;
	text-align: center;
	height: 600px;
	width: 100%;


		h2{
			padding:0;
			color: black;
		}

		.tool-container{
			color: white;
			/*background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6));*/
			height: 80%;
			width: 90%;
			margin-left: 4%;
			background-color: #BDB76B;

			h3{
				padding-top:20px;
			}

			p{
				color: black;
				font-weight: bold;
				font-size: 15px;
				
			}

		} 


	/*.tool-container {
		float:left;
		margin-left: 300px;
		width: 170px;
		height: 170px;
		text-align: none;
		color: black;
		background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6));
	
		&:hover{
			background-color:#BDB76B; 
		}	
	}

	.design-container {
		float:left;
		margin-bottom: 0px;
		margin-left: 20px;
		width: 170px;
		height: 170px;
		color: black;
		background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6));
	
		&:hover{
			background-color:#BDB76B;
		}	
	}

	.java-container {
		float:left;
		margin-left: 20px;
		width: 170px;
		height: 170px;
		color: black;
		background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6));
	
		&:hover{
			background-color:#BDB76B;
		}	

	}

	.other-container {
		float:left;
		margin-left: 20px;
		width: 170px;
		height: 170px;
		color: black;
		background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6));
	
		&:hover{
			background-color:#BDB76B
		}*/

	/*.tool-container {
		float:left;
		margin-left: 10px;
		width: 180px;
		height: 200px;
		background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6));
	}

	.design-container {
		float:left;
		margin-bottom: 10px;
		margin-left: 10px;
		width: 180px;
		height: 200px;
		background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6));
	}

	.other-container {
		float:left;
		margin-left: 10px;
		width: 180px;
		height: 200px;
		background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6));
	}

	.java-container {
		float:left;
		margin-left: 10px;
		width: 180px;
		height: 200px;
		background:linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6));
	}*/	
}

.footer {
	background-color: #222222;
	max-width: 100%;
	height: 20%;
	position: relative;
		
	h5 {
		display: block;
		text-align: center;
		font-size: 1.875em; 
		margin-top: 0;
		padding-top: 3.125em;
		overflow: hidden;
		margin-bottom: 0;
	}
	
	
.social {
	display: inline-block;
	margin-bottom: 6.250em;
	height: 50%;
	margin-left: 100px;


	img{
		display: inline-block;
		margin-top: 0.625em;
		margin-bottom: 0;
		color: white;
		

	
		img:hover {
			opacity: 0.3;
		}			
	}

}	
	
	p{
		font-size: 0.750em;
		border-top: 0.125em solid #C2D6D6;
		padding-bottom:0em;
	}


/*@media screen and (max-width : 680px){
		img {
		margin-left: 2em;
		padding-left: 1em;
		height: 1.875em;
		width: 1.875em;
	
		}
	}*/
}





@media screen and (max-width: 497px) {
	.border {
		li {
			padding-left: 10px;
		}
	}
}

@media screen and (max-width: 462px) {
	.border {
		width: 100%;
	}
}



@media screen and (max-width: 937px) {
	
	.tools-container {
		margin-left: 100px;
	}
}

